body, html
{
	height:100%;
	margin:0;
	font-family: Courier New, Courier, Bookman;
}

li
{
	float: left;
}

li a
{
	display: block;
	color: white;
	//text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #111;
}

.menuBar
{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

.header-image
{
  background-image: url(Images/Fey.gif);
  height: 50%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  margin: auto;
  width: 50%;
  padding: 1.5em;
  text-align: center;
  color: white;
}

.header-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #38A1F3;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.header-text button:hover {
  background-color: #008af7;
  color: white;
}

.social_logo
{
	width:63px;
	height:63px;
	border: 10px;
}

.social_logo_row
{
	display: center;
	padding: 0 -8px;
}

.menu_bar
{
	background-color: grey;
}

.profile_image
{
	border-radius: 100%;
	height: 25%;
	width: 25%;
	float:left;
	padding-left:5%;
	padding-right:5%;
}

.aboutMe
{
	padding-top:1%;
	padding-left:10%;
	padding-right:10%;
}

li.aboutMe
{
	float:left;
}

p.aboutMe
{
	padding-right:15%;
	padding-left:35%;
}

.projects
{
	padding-left:5%;
	margin-top:5%;
	padding-bottom:10%;
	background-color:grey;
}

.projects_indent
{
	padding-left:5%;
}

.project_container
{
	position:relative;
	float:left;
	margin-right:3%;
	height:25%;
	width:25%;
}

.project_img_overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.project_img_overlay_text
{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project_container:hover .project_img_overlay
{
	opacity:0.85;
}

.projects_image
{
	height:100%;
	width:100%;
}

.projects_gif_l
{
	height:45%;
	width:45%;
	float:left;
	margin-right:3%;
}

.projects_gif_r
{
	float:right;
	margin-right:3%;
	height:45%;
	width:45%;
}

.project_row::after
{
	content:"";
	clear:both;
	display:table;
}

.projects_descriptor
{
	margin-right:10%;
}

.projects_link_images
{
	width:5%;
	height:5%;
}

.CV_container
{
	margin:auto;
	width:60%;
	padding-left:auto:
	padding-right:auto;
}

.CV_button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.CV_button:hover
{
	background-color: grey;
}

.ContactMe_contatiner
{
	display:inline-block;
	background-color:#6ba3ff;
}

.ContactCenter
{
	text-align:center;
}







