/* Start generic styling */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    background-color: #202124;
    color: white;

    font-family: 'Open Sans', sans-serif;

    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1{
    font-size: 64px;
    margin:0;
}

h1:first-of-type{
    margin-top: 32px;
}

header{
    background-color: rgba(28, 29, 31, 0.9);
    position: fixed;
    top: 32px;
    right: -256px;
    width: 240px;
    z-index: 99;
    border-bottom-left-radius: 8px;
    transition: 0.25s;
    padding: 10px 0px 10px 16px;
}

header .menu-controller-button-container{
    position: absolute;
    top:0px;
    left:-64px;

    width:64px;
    height: 64px;
    background: rgba(28, 29, 31, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
header svg{
    width:32px;
}

header svg path{
    fill:white;
    transition:0.25s;
}

header .menu-controller-button-container:hover path{
    fill:black;
    cursor: pointer;
}

header p{
    margin:0 8px;
    font-size: 32px;
    transition: 0.25s;
}

header a{
    text-decoration: none;
    color:white;
    transition:0.5s;
    display: block;

    margin:0px 0;
}

header a:hover p{
    font-size:36px;
    color: rgb(207, 203, 203);
}

.section{
    display: block;
}

.section-inner{
    margin:0 auto;
    max-width: 1080px;
    /* min-height: 512px; */
    padding: 48px 0;
}

.section-inner h1{
    margin-top: 0;
}

.section-inner h3{
    margin-top:48px;
    margin-bottom:16px;
    text-align: center;
    font-size: 32px;
}

.section-inner.full{
    max-width: unset;
    margin:auto 32px;
}

.section.alternate{
    background-color: #7785AC;
}

/* End Generic styling */

/* Start Hero styling */
.section.hero{
    height:calc(100vw * 0.5625);
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    z-index: 2;
    position: relative;
}

.section.hero .section-inner{
    z-index: 2;
    width:100%;

    display: block;
    max-width: 1080px;

    background-color: rgba(32, 33, 36, 0.75);
    border-radius: 32px;
}

.section.hero .hero-info-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.section.hero .scroll-down{
    z-index: 2;
    width:64px;
    height:64px;
    position: absolute;
    bottom: 16px;
    right:64px;

    display: block;
    max-width: 1080px;
    

    background-color: rgba(111, 112, 116, 0.75);
    border-radius: 8px;
    margin:0 auto;
    margin-top:32px;
    transition:0.25s;
}

.section.hero .scroll-down:hover{
    background-color: rgba(157, 233, 237, 0.75);
    
}

.section.hero .scroll-down .arrow-container{
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.section.hero .scroll-down .arrow-container p{
    margin:0;
}

.section.hero .scroll-down .arrow-container img{
    width:100%;
    height: 100%;
}

.section.hero .hero-link{
    color:white;
}


.background-img{
    position: absolute;
    top:0px;
    left:0;
    /* opacity: 0.5; */
    z-index: 1;

    width: 100%;
    display: block;
}

.background-img img, .background-img video{
    width: 100%;
    max-height: 100vh;
}
.profile-container{
    width:256px;
    margin:0 auto;
    margin-top: 32px;
}

.profile-container img{
    display: block;
    width: 100%;
    border-radius: 48px;
}

.section.hero p{
    font-size: 24px;
    padding:0 32px;
}

/* End hero styling */

/* Start skills styling */

.skills-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin:0 auto;
}

.skills-column{
    margin:16px 0px;
    flex: 1 0 20%;
}

.skills-column img{
    height:100px;
    display: block;
    margin: 0 auto;
}

.skills-column p{
    text-align: center;
    font-size: 24px;
    margin:16px 0;
}


/* End Skills styling */

/* Start Projects styling */

.projects-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.projects-column{
    flex: 1 0 33%;
    max-width: 33%;
    position: relative;
}

.projects-column img{
    width:100%;
    display: block;
}

.projects-column .hover-overlay{
    /* display: none; */
    position: absolute;
    background-color: rgba(32, 33, 36, 0.9);
    opacity:0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-column:hover .hover-overlay{
    opacity: 1;
}

.projects-column .hover-overlay p{
    text-align: center;
}

.projects-column .hover-overlay a{
    /* text-decoration: none; */
    color: white;
}





/* End Projects styling */

/* More about me section */

.more-about-me{

}

.more-about-me p{
    font-size: 32px;
    text-align: justify;
}

/* End of more about me section */

/* Project page styling */

.project-title{
    margin:0;
    margin-top: 32px;
}

.project-img{

}

.project-img .section-inner img{
    width:100%;
}

.project-img .section-inner video{
    width:100%;
}
.link-title{
    font-size: 20px;
    margin: 0;
   
}

.link{
    text-align: center;
    margin: 0 auto;
    color: white;
}

.link a{
    color: white;
}

/* End of project page styling */

/* Footer */

footer{
    background: #2d2e30;
    padding:16px 32px;
}

footer p{
    text-align: center;
    font-size: 32px;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links img{
    width:64px;
    padding:0 8px;
}

.social-links p{
    font-size: 18px;
}

.social-links a{
    color: white;
}

/* End of footer */

/* Media query */

@media only screen and (max-width: 1100px){
    .section.hero .section-inner{
        border-radius: 0;
        max-width: unset;
        top: 0;
        height: calc(100vw * 0.5625);
        padding: 0;
    }
}

@media only screen and (max-width: 920px) {
    .background-img{
        position: relative;
    }
    .background-img video{
        display: none;
    }
    .section.hero .section-inner{
        position: relative;
        height: unset;
    }
    .section.hero .hero-info-container{
        position: relative;
        height: unset;
    }
    .section.hero .hero-link{
        display: none;
    }
    .section.hero{
        display: block;
        height: unset;
    }
    .section.hero p{
        padding:0 32px;
        text-align: justify;
    }

    .skills-column img{
        width: 96px;
    }

    .skills-row{
        max-width: 90%;
    }
    .skills-column{
        flex:1 0 33%;
    }

    .more-about-me p{
        padding: 0 32px;
        font-size: 24px;
    }

    .section.project-info p{
        padding:0 32px;
    }
    
}

@media only screen and (max-width:768px){
    .section-inner.full h1{
        font-size: 32px;
    }


    .projects-column{
        flex: 1 0 100%;
        max-width: unset;
        margin-bottom: 8px;
    }

    header{
        width: 120px;
        right:-136px;
    }

    header .menu-controller-button-container{
        width:48px;
        height: 48px;
        left:-48px;
    }

    header svg{
        width: 24px;
    }

    header p{
        font-size: 24px;
    }

    header a:hover p{
        font-size: 24px;
    }
}

@media screen and (orientation:portrait){
    .section.hero .hero-link{
        display: none;
    }
}